<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>DOB</th>
		<th>Location</th>
		<th>Comment</th>
		<th>File</th>

	</tr>
	<tr>
		<td><%= @question.name%></td>
		<td><%= @question.email %></td>
		<td><div style="width: 100px" ><%= @question.dob %></div></td>
		<td><%= @question.location %></td>
		<td><div style="width: 200px" ><%= @question.comment %></div></td>
		<td><%= image_tag(@question.picture_url, :width => 100) if @question.picture.present? %></td>

	</tr>
</table>
