<table>
	<tr>
		<th>Term</th>
		<th>Year</th>
		<th>Student Id</th>
		<th>Amount Paid</th>
		<th>Location</th>
	</tr>
	<tr>
		<td><%= @term.year_term%></td>
		<td><%= @term.year %></td>
		<td><%= @term.student_id %></td>
		<td><%= @term.amt_paid %></td>
		<td><%= @term.location %></td>

	</tr>
</table>
