<!DOCTYPE html>
<html>
  <head>
    <title>Fiona Keane School of Speech &amp; Drama</title>


	<%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tag %>



	<meta http-equiv="content-type"
			content="text/html;charset=utf-8" />

	<meta name="author" content="Sorcha Abel" />

	</head>
  </head>
<body>
	<div id="wholePage">
		<div id="header">
			<p class="heading">Stage School</p>
			<p class="tagline">Flexible learning for children &amp; adults 	</p>
				<div id="navigation">
						<ul class="dropdown">
					        	<li><a href="#">Courses</a>
					        		<ul class="sub_menu">
					        			 <li><a href="../Dance.html">Dance</a></li>
					        			 <li>
					        				<a href="#">Categories</a>
					        				<ul>
					        					<li><a href="../Dance.html">Hip Hop</a></li>
					        					<li><a href="../Dance.html">Ballet</a></li>
					        				</ul>
					        			 </li>
					        			 <li><a href="../Drama.html">Drama</a></li>
					        			 <li><a href="../Games.html">Games</a></li>
					        			 <li><a href="../Poetry.html">Poetry</a></li>
					        			 <li><a href="../Speech.html">Speech</a></li>


					        		</ul>
					        	</li>
					        	<li><a href="#">Speech Pathology</a>
					        		<ul class="sub_menu">
					        			<li><a href="../Speech.html">Therapy Classes</a></li>
					        			<li><a href="../Speech.html">Jaw Exercises</a></li>
					        		</ul>
					        	</li>
					        	<li><a href="../contactus.html">Exams</a>
					        		<ul class="sub_menu">
					        			 <li><a href="../contactus.html">End of Term</a></li>
										 <li><a href="../contactus.html">End of Year</a></li>
					  				</ul>
					        	</li>
					        	<li><a href="../contactus.html">Contact Us</a>
					        	</li>
					        	<li><a href="login">Admin</a>
					        		<ul class="sub_menu">
                        <li><%= link_to("Students", students_path)%></li>
                        <li><%= link_to("Results", results_path)%></li>
					        			<li><%= link_to("Terms", terms_path)%></li>
					        			<li><%= link_to("Enquiries", questions_path)%></li>
										 <li><%= link_to("Logout", :controller => 'access', :action => 'logout')%></li>
					        		</ul>
					        	</li>

					        </ul>
				</div></p>

		</div>

		<div id="main"> <br />
			<%= yield %>
		</div>
		<div id="rightSide">
			<h2>Useful Links</h2>
			<p>More on Courses... to find out more about the range of courses, a breakdown of the academic year
			and exams click on the <a href="../Courses.html">Courses Page</a>
			</p>
			<p>FAQs... to find answers to the most frequently asked questions on a
			range of topics click on the <a href="../FAQ.html">FAQ Page</a>
			</p>
			<p>Get in touch... if you wish to book a course click on the <a href="../Contactus.html">Contact Us Page</a>
			</p>
		</div>
		<div id ="footer">
			<hr />
			<a href="http://validator.w3.org/check?uri=referer"><img class="validateimg"
				src="http://www.w3.org/Icons/valid-xhtml10"
				alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
			Copyright &copy; S Abel<br />
			Powered by ABEL Web Design
			Jan 2014</p>
		</div>

	</div>
</body>
</html>
